/* 전체 페이지 스타일 설정 */
body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
}

/* 페이지 내 컨테이너 스타일 설정 */
.container {
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

/* 버튼 스타일 설정 */
button#startConversationBtn,
.schedule-buttons button,
.chatting-buttons button {
    padding: 10px 15px;
    background-color: #ffffff;
    color: #003459;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* 버튼 호버 효과 설정 */
button#startConversationBtn:hover,
.schedule-buttons button:hover,
.chatting-buttons button:hover {
    background-color: #d9d9d9;
}

/* 스케줄 및 채팅 버튼들의 공통 스타일 설정 */
.schedule-buttons,
.chatting-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
    justify-content: center;
}

/* 스케줄 및 채팅 버튼 개별 스타일 설정 */
.schedule-buttons button,
.chatting-buttons button {
    padding: 10px 15px;
    background-color: #ffffff;
    color: #003459;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* 스케줄 및 채팅 버튼 호버 효과 설정 */
.schedule-buttons button:hover,
.chatting-buttons button:hover {
    background-color: #d9d9d9;
}

/* 폼 스타일 설정 */
form {
    margin-top: auto;
}

/* 출력 컨테이너 마진 설정 */
.section.conversation {
    margin-bottom: 15px;
}

/* 입력 필드 스타일 설정 */
input {
    padding: 5px;
    margin-right: 10px;
}

/* 일반 버튼 스타일 설정 */
button {
    padding: 6px 10px;
    cursor: pointer;
    background-color: #3498db;
    color: #ffffff;
}

/* 사용자가 입력한 내용의 스타일 설정 */
.user-message {
    background-color: #ffffff;
    text-align: right;
    border-radius: 5px;
    border: 3px solid transparent;
    transition: background-color 0.3s ease, border 0.3s ease;
}

/* 지니스트가 출력한 내용의 스타일 설정 */
.genist-message {
    background-color: #ffffff;
    text-align: left;
    border-radius: 5px;
    border: 3px solid transparent;
    transition: background-color 0.3s ease, border 0.3s ease;
}

/* 사용자 메시지 호버 효과 설정 */
.user-message:hover {
    background-color: #d9d9d9;
    border-color: #003459;
}

/* 지니스트 메시지 호버 효과 설정 */
.genist-message:hover {
    background-color: #d9d9d9;
    border-color: #00a8e8;
}
